/*region settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
:root{
    --flo-darker: #0F0E17;
    --flo-primary: #17CCF2;
    --flo-title: #E53170;
}
/*endregion settings*/

h1{
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    color: var(--flo-title);
}
.container{
    width: 70%;
    margin: auto;
}
.container>p{
    text-align: center;
}
img{
    max-width: 100%;
    float: left;
    width: 104px;
    padding-right: 1rem;
}
.col_4{
    width: calc(100% / 3);
    float: left;
    padding: 0.5rem;
    background-color: var(--flo-darker);
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    margin-top: 2.5rem;
    border-left: 2rem solid white;
    box-shadow: 0 0 10px;
    
}
.description>h3{
    font-size: small;
    padding-bottom: 0.25rem;
}
.description>div{
    color: var(--flo-primary);
    padding-top: 0.3rem;
}
footer{
    width: 40%;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: var(--flo-primary);
    border: 1px solid black;
    margin: 3rem auto;
    border-radius: 2rem;
}

